@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,800);.native-toast {
  position: fixed;
  background-color: rgba(50, 50, 50, .8);
  border-radius: 33px;
  color: white;
  left: 50%;
  text-align: center;
  padding: 10px 20px;
  opacity: 0;
  z-index: 99999;
  -webkit-transition: opacity .25s, top .25s, -webkit-transform .25s;
  transition: opacity .25s, top .25s, -webkit-transform .25s;
  transition: transform .25s, opacity .25s, top .25s;
  transition: transform .25s, opacity .25s, top .25s, -webkit-transform .25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.native-toast-bottom {
  bottom: 50px;
  -webkit-transform: translateX(-50%) translateY(50px);
          transform: translateX(-50%) translateY(50px)
}

.native-toast-bottom.native-toast-shown {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.native-toast-bottom.native-toast-edge {
  bottom: 0;
}

.native-toast-top {
  top: 50px;
  -webkit-transform: translateX(-50%) translateY(-50px);
          transform: translateX(-50%) translateY(-50px)
}

.native-toast-top.native-toast-shown {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.native-toast-top.native-toast-edge {
  top: 0;
}

.native-toast-center {
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50px);
          transform: translateX(-50%) translateY(-50px)
}

.native-toast-center.native-toast-shown {
  opacity: 1;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.native-toast-edge {
  border-radius: 0;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 40rem) {
  .native-toast:not(.native-toast-edge) {
    max-width: 18rem;
  }
}

/*
  max-width does not seem to work in small screen?
*/

/*@media screen and (max-width: 768px) {
  .native-toast:not(.native-toast-edge) {
    max-width: 400px;
  }
}

@media screen and (max-width: 468px) {
  .native-toast:not(.native-toast-edge) {
    max-width: 300px;
  }
}*/

/* types */

.native-toast-error {
  background-color: #d92727;
  color: white;
}

.native-toast-success {
  background-color: #62a465;
  color: white;
}

.native-toast-warning {
  background-color: #fdaf17;
  color: white;
}

.native-toast-info {
  background-color: #5060ba;
  color: white;
}

[class^="native-toast-icon-"] {
  vertical-align: middle;
  margin-right: 8px
}

[class^="native-toast-icon-"] svg {
  width: 16px;
  height: 16px;
}
html {
  min-height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  background-image: linear-gradient(-153deg, #D69CCD 0%, #A79ED8 95%);
  background-attachment: fixed;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

#question-input {
  font-size: 2rem;
  font-weight: 800;
  width: 85vw;
  margin-top: 3vh;
  color: #FFFFFF;
  text-align: center;
  background: none;
  border: none;
  caret-color: #040181;
  outline: none;
  resize: none;
}

#question-input::-webkit-input-placeholder {
  opacity: 0.5;
  color: #FFFFFF;
}

#question-input:-ms-input-placeholder {
  opacity: 0.5;
  color: #FFFFFF;
}

#question-input::-ms-input-placeholder {
  opacity: 0.5;
  color: #FFFFFF;
}

#question-input::placeholder {
  opacity: 0.5;
  color: #FFFFFF;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options-container {
  margin-top: 20px;
  width: 80vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  padding: 7px 12px;
}

.options-container input[type="text"] {
  border: none;
  margin: 7px 12px;
  caret-color: #040181;
  font-size: 1.5rem;
  outline: none;
  font-weight: 400;
  width: 100%;
}

.options-container input[type="text"]::-webkit-input-placeholder {
  color: #CCCCCC;
}

.options-container input[type="text"]:-ms-input-placeholder {
  color: #CCCCCC;
}

.options-container input[type="text"]::-ms-input-placeholder {
  color: #CCCCCC;
}

.options-container input[type="text"]::placeholder {
  color: #CCCCCC;
}

.options-container hr {
  border: 0;
  height: 2px;
  background-color: rgba(151, 151, 151, 0.25);
}

button {
  background: #5BC0EB;
  -webkit-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  border: none;
  height: 45px;
  outline: none;
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 230px;
  margin-top: 100px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

button:hover {
  background: #9fddf7;
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.error {
  border: 5px solid #F23C57;
  -webkit-animation: wobble-hor-bottom 0.8s ease-in-out both;
          animation: wobble-hor-bottom 0.8s ease-in-out both;
}

